<h1><%= @current_user.email%></h1>

<% @user.databases.each do |d| %>
  <h4><%= link_to(d.name, "/databases/#{d.id}" ) %></h4>
  <% end %>


<%= link_to 'Edit', edit_users_path(@user) %> |
<%= link_to 'Back', users_path %> | 