<% if @current_user %>
  <% @current_user.databases.each do |d| %>
  <%= link_to(d.name, d)%>
  <% end %>

  <%= link_to("New Database", new_database_path)%>

<% else %>
  <h3> Please Log In or Sign Up to use OttoDD </h3>
  <h3> Once you have logged in, create a database with tables and fields. </h3>
  <h3> Once you have designed your database. You may use one of the following two features:
  
  File generator

  Tutorial generator
  
  The file generator is still under construction but the tutorial generator is functional </h3>



<% end %>